//- loops in pug

- let n = 10;
- let text = ['text', 'text1', 'text2', 'text3']
- let start = 0;

- for(let i = 0; i < text.length; i++)
  section= text[i]

while start < text.length
  div(class=`class-${text[start]}`)= text[start++]

each val, index in text
  p= `${index} + ${val}`