doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Calculator
    body 
        section.calculator 
            form.form(name="form")
                input.input(type="text" name="input" readonly)
                div(onclick="form.input.value+='7' ") 7
                div(onclick="form.input.value+='8' ") 8
                div(onclick="form.input.value+='9' ") 9
                div(onclick="form.input.value+='+' ") +
                div(onclick="form.input.value+='4' ") 4
                div(onclick="form.input.value+='5' ") 5
                div(onclick="form.input.value+='6' ") 6
                div(onclick="form.input.value+='-' ") -
                div(onclick="form.input.value+='1' ") 1
                div(onclick="form.input.value+='2' ") 2
                div(onclick="form.input.value+='3' ") 3
                div(onclick="form.input.value+='*' ") *
                div(onclick="form.input.value+='0' ") 0
                div(onclick="form.input.value+='.' ") .
                div(onclick="form.input.value='' ") C
                div(onclick="form.input.value+='/' ") /
                div#bracket(onclick="form.input.value+='(' ") (
                div#bracket(onclick="form.input.value+=')' ") )
                div#sum(onclick="form.input.value=eval(form.input.value) ") =