.slider {
  display: flex;
  position: relative;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 0 3rem;
}

.arrow {
  font-size: 3rem;
  cursor: pointer;
}