extends nav-template.pug

block append nav
  style a {display: block;}

  a(href="") Custom Link #1
  a(href="") Custom Link #2
  a(href="") Custom Link #3
  a(href="") Custom Link #4
  a(href="") Custom Link #5