* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.timer {
  font-size: 100px;
  font-weight: bold;
}
.app {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
