$black: rgba(0, 0, 0, .5) !default;
$orange: rgba(207, 121, 30, 0.5) !default;
$red: rgba(197, 33, 33, 0.5) !default;

.app {
  font-size: 16px;
}

.app {
  line-height: 1.4;

  & .image {
    max-width: 100%;
  }
}

.button {
  color: red;

  .white-section & {
    color: white;
  }
}

.button {
  &-small {
    padding: 1em;
  }
  &-large {
    padding: 3em;
  }
}

.transition-4-2 {
  transition: {
    property: font-size;
    duration: 4s;
    delay: 2s;
  }
}

.font-style {
  font: {
    family: serif;
    size: 16px;
    weight: 700;
  }
}

%red-hover {
  &:hover {
    color: red;
  }
}

%button {
  box-sizing: border-box;
  border-top: 1px rgba(#000, .12) solid;
  padding: 16px 0;
  width: 100%;

  &:hover {
    border: 2px rgba(#000, .5) solid;
  }
}

.action-buttons {
  @extend %button;
  color: #4285f4;
}

.reset-buttons {
  @extend %button;
  color: #cddc39;
}