@mixin round-image($size, $circle: true) {
  max-width: $size;
  max-height: $size;

  @if $circle {
    border-radius: $size / 2;
  }
}

.square-image {
  @include round-image(100px, $circle: false);
}

.round-image {
  @include round-image(120px, $circle: true);
}