body {
  /* color: var(--concrete); */
  font-family: 'Trebuchet MS', sans-serif;
}

.burger-button .line {
  /* stroke: white; */
}

.burger-menu {
  background: var(--almost-black);
}

.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  /* max-height: 400px; */
}

/* input[type="range"] {
  max-width: 50%;
} */
